#dialogbox {
  position: relative;
  user-select: none;
}

#arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  animation: bounce 0.5s ease-in-out 0 infinite alternate;
}

@keyframes bounce {
  from { transform: translateY(0); }
  to { transform: translateY(3px); }
}